# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/
ENV/
*.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Python egg files
*.egg
*.egg-info/
dist/
build/

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Coverage reports
.coverage
.coverage.*
*.cover

# pytest cache
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
